#tutorsportal h5{
    font-weight: 600;
    margin: 0px;
}
#tutorsportal p{
    font-weight: 500;
    margin: 0px;
}
#tutordp {
    padding: 4px 0px 0px 0px;
}
#tutordata {
    border-left: 1px solid #B4B4B3;
}
#tutordata .myrow {
    padding: 6px 0px 6px 10px;;
    margin: 0px;
}
#tutorprofile {
    background-color: #eeeeee;
    border-right: 1px solid #B4B4B3;
    border-left: 1px solid #B4B4B3;
    cursor: pointer;
}
#searchFilter input {
    width: 100%;
    height: 43px;
    margin-bottom: 22px;
    color: #414141;
    font-weight: 500;
    padding: 12px;
    border: none;
    background-color: #DFDEDE;
    border-radius: 5px;
    outline: none;
}
#searchFilter input::placeholder {
    color: #414141;
    font-weight: 500;
}
#searchFilter input::-ms-input-placeholder {
    color: #414141;
    font-weight: 500;
}