#tutorsportal h5{
    font-weight: 600;
    margin: 0px;
}
#tutorsportal p{
    font-weight: 500;
    margin: 0px;
}
#tutordp {
    padding: 4px 0px 0px 0px;
}
#tutordata .myrow {
    padding: 6px 0px 6px 10px;;
    margin: 0px;
}
#tutorprofileview {
    background-color: #FFFFFF;
    margin-top: 70px;
}